@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
// Breakpoint
$breakpoint-sm: 540px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$clr-primary: #2F80ED;
$clr-black: #000;
$clr-dark: #333333;
$clr-grey: #BDBDBD;
$clr-grey-1: #828282;
$clr-white: #fff;
$clr-secondary: #EB5757;

body{
    font-family: 'Montserrat', sans-serif;
}
.strike{
    text-decoration: line-through;
}
button, input[type="checkbox"], .action{
    cursor: pointer;
}
.after{
    position: absolute;
    height: 3px;
    content: "";
    background: $clr-primary;
    bottom: -1rem;
    text-align: center;
    display: block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.active{
    position: relative;
    &:nth-child(1){
        &::after{
            @extend .after;
            width: 50px;
            left: -1rem;
        }
    }
    &:nth-child(2){
        &::after{
            @extend .after;
            width: 80px;
            left: -1rem;
        }
    }
    &:nth-child(3){
        &::after{
            @extend .after;
            width: 100%;
        }
    }

}
.error{
    border: 1px solid $clr-secondary !important;
}

main{
    width: 90%;
    margin: 0 auto;
    position: relative;
    h1{
        font-weight: 700;
        text-align: center;
        margin: 1.5rem 0;
    }
    .container{
        .title{
            border-bottom: 1px solid $clr-grey;
            padding-top: 1.5rem;
            padding-bottom: 1rem;
            ul{
                display: flex;
                justify-content: space-between;
                padding: 0 2rem;
                li{
                    list-style: none;
                    color: $clr-dark;
                    font-weight: 600;
                    font-size: .9rem;
                    cursor: pointer;
                }
            }
        }
        .content{
            margin: 1.3rem 0;
            .form-container{
                form {
                    display: grid;
                    grid-template-columns: 1fr 100px;
                    gap: 1rem;
                    input, button{
                        padding: 1rem;
                        font-family: inherit;
                        border-radius: .6rem;
                    
                    }
                    input{
                        border: 1px solid $clr-grey;
                        width: 100%;
                        &:focus{
                            outline: none;
                        }
                        &::placeholder{
                            font-size: 1rem;
                            color: $clr-grey-1;
                        }
                    }
                    button{
                        border: none;
                        background: $clr-primary;
                        color: $clr-white;
                        font-weight: 600;
                        font-size: 1rem;
                        &:focus{
                            outline: none;
                        }
                    }   
                }
            }
            .todo-list{
                margin: 1.2rem 0;
               .single-task{
                display: flex;
                justify-content: space-between;
                margin: 1rem 0;
                .task{
                    display: grid;
                    grid-template-columns: auto auto;
                    gap: .5rem;
                   place-items: center;
                    input[type='checkbox']{
                        width: 15px;
                        height: 15px;
                        outline: none;
                    }
                    label{
                        font-weight: 600;
                    }

                }
                .action{
                    color: $clr-grey-1;
                }
               }
               .trash{
                    padding: 1rem .8rem;
                    padding-left: 1.8rem;
                    margin-top: 1.5rem;
                    font-family: inherit;
                    font-size: 1rem;
                    background: $clr-secondary;
                    color: $clr-white;
                    width: 140px;
                    border-radius: 5px;
                    float: right;
                    cursor: pointer;
                   .trash-icon{
                       font-size: .8rem;
                   }

               }
               .empty-task{
                    color: #31708f;
                    background-color: #d9edf7;
                    border-color: #bce8f1;
                    padding: 1rem;
               }
            }
        }
    }
    .flash{
        position: fixed;
        top: 15px;
        right: 15px;
        transform: translateX(300px);
        background: #cdf7d2;
        padding: .9rem 1rem;
        color:#4caf50;
        text-align: center;
        font-weight: 600;
        font-size: .9rem;
        transition: 1.5s all ease;
    }
    .flash-on{
        transform: translate(0); 
    }
}

@media screen and (min-width: $breakpoint-md){
   main{
       width: 70%;
   }
}

@media screen and (min-width: $breakpoint-lg){
    main{
        width: 60%;
    }
}

@media screen and (min-width: $breakpoint-xl){
    main{
        width: 40%;
    }
 }